# Default ignored files
/shelf/
/workspace.xml
*.class
*.ctxt
package.bluej
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
